.Main{
    padding-bottom: 1.3rem;
}
.Main .Main_div1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Main .Main_h3{
    font:800 .4rem/1rem '';
    text-align: center;
    width: 100%;
    background: whitesmoke;
    color: #000;
}
.Main .Main_img{
    margin-top: .3rem;
    width: 100%;
    box-shadow:0 0 .1rem #000 ;
}
.Main .Main_h4{
    width: 100%;
    font: .4rem/.8rem '楷体';
    text-align: center;
}